body {
    font-family: Arial;
    margin: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.status-box {
    padding: 15px;
    border-radius: 10px;
    background: #f2f2f2;
    width: 220px;
}
